# Ignore all
*

# Unignore all files with an extension
!*.*

# Unignore all dirs
!*/

# Ignore a.out from gcc
a.out
*/a.out


# Ignore VIM swap files
*/*.swp

# Ignore files starting with .
.*

# Ignore CLion files
cmake-build-debug/

#Ignore Assignement 1 PBM files
assignment1/pbms/
#Unignore scripts in pbms for downloading the pbms
!assignment1/pbms/*.sh
